<div class="wrapper wrapper-home content", style="background-image: url(<%= asset_path 'home-wrapper.png' %>); height: 170vh;">
  <div class="sign-content">
    <h2>My account</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    wrapper_html: { class: 'form-box' } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    wrapper_html: { class: 'form-box' } %>
        <%= f.input :photo,
                    label_html: { class: 'btn-photo' },
                    input_html: {class: 'input-photo'} %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" },
                    wrapper_html: { class: 'form-box' } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Update", class: 'btn-ghost btn-form' %>
      </div>
    <% end %>

    <% if current_user.total_amount > 0 %>
      <div class="cancelation">
        <h2>My donations</h2>
        <p>Your currently donate <%= current_user.total_amount %>€ per month</p>
        <%= link_to "Change", suscription_edit_path(current_user), class: 'btn-ghost btn-form' %>
        <%= link_to 'Cancel', suscription_destroy_path(current_user), method: :delete, class: 'btn-ghost btn-form'%>
      </div>
    <% else %>
      <div class="cancelation">
        <h2>My donations</h2>
        <p>Oups, you don't have a donation plan yet !</p>
        <%= link_to "Add a subscription", new_user_suscription_path(current_user), class: 'btn-ghost btn-form' %>
      </div>
    <% end %>

    <div class="cancelation">
      <h2>Cancel my account</h2>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "secondary-link", style: "color: white" %></p>
      <%= link_to "Back", :back, class: "secondary-link", style: "color: white" %>
    </div>
  </div>
</div>
