<div class="wrapper wrapper-home content", style="background-image: url(<%= asset_path 'home-wrapper.png' %>)">
  <div class="sign-content">
    <h2 class="form-title"><strong>Bienvenue !</strong></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    wrapper_html: { class: 'form-box' }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" },
                    wrapper_html: { class: 'form-box' } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    wrapper_html: { class: 'form-box' } %>
        <%= f.input :photo,
                    label_html: { class: 'btn-photo' },
                    input_html: {class: 'input-photo'} %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
      <div class="form-actions form-btns">
        <%= f.button :submit, "Sign up", class: 'btn-ghost btn-form' %>
        <div class="secondary-link ">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
