<div class="<%= 'navbar-2' if navbar_style %> navbar-wagon navbar-expand-sm">
  <!-- Logo -->
  <%= link_to "Participate.", root_path, class: "navbar-title" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Charities', charities_path, class: 'navbar-wagon-item navbar-wagon-link' %>
    <% if user_signed_in? %>
      <%= link_to "My dashboard", user_path(current_user), class: 'navbar-wagon-item navbar-wagon-link' %>
    <% end %>
<!--     <%= link_to 'Our Story', root_path, class: 'navbar-wagon-item navbar-wagon-link' %>
 -->
    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag(current_user.photo, gravity: :face, class: "avatar-bordered dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", width: 400, height: 400, crop: :fill)%>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Edit profile", edit_user_registration_path  %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: 'btn-ghost'%>
    <% end %>
  </div>
</div>
