<div class="wrapper wrapper-home content", style="background-image: url(<%= asset_path 'home-wrapper.png' %>); height: calc(100vh - 70px);">
  <div class="sign-content">
    <h1 style='margin-bottom: 40px;'>Change your donation</h1>
    <%= simple_form_for @user, html: { id: "edit_donation"} do |f| %>
        <%= f.input :plan_id, collection: [['5€','plan_EjCCIBijeoq5gk'], ['10€', 'plan_EjCCBu8WwkDCyL'], ['20€', 'plan_Ej70wBG0vIcqGr'], ['50€', 'plan_EjCDl7LcjYhjA9'], ['100€', 'plan_EjCDeVTiviWks3']], label: false, as: :radio_buttons, wrapper: false, id: "edit_input_donation" %>
    <% end %>
    <%= form_tag suscription_update_path(@user) do %>
      <input type="text" id='plan_params' name="plan" value='' hidden>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-email="<%= current_user.email %>">
        </script>
        <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-ghost btn-form" style='background: rgb(63, 163, 223); color:white; margin-top: 35px;'>Update</button>
    <% end %>
  </div>
</div>
