<div class="wrapper wrapper-home content", style="background-image: url(<%= asset_path 'home-wrapper.png' %>); background: linear-gradient(90deg, #efbe90, #ea9999)";>
  <div class="home-content-1">
      <p>Simple</p>
      <p>Impactful</p>
      <p>Transparent</p>
      <p><strong>Donations as it should be</strong></p>
      <% unless user_signed_in? %>
        <%= link_to "Be Awesome", new_user_registration_path, class: "btn-home btn-ghost" %>
      <% end %>
  </div>
</div>
<div class="wrapper-intro" style="background-color: #F9F9F9">
  <div class="container">
    <p class="title-steps title-one">Simple</p>
    <div class="row steps">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="step">
          <%= image_tag("subscription.png", :alt => "subscription", :class => "logo-home") %>
          <p><strong>Pick your monthly subscription plan.</strong><br>Between 5€ and 50€/month.<br>Change or cancel anytime.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="step">
          <%= image_tag("pick-charities.png", :alt => "subscription", :class => "logo-home", :style => "margin-top: -5px") %>
          <p><strong>Select the charitie(s) you want to support.</strong><br>One or many.<br>Organized by category.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="step">
          <%= image_tag("balance.png", :alt => "subscription", :class => "logo-home") %>
          <p><strong>Spread your plan among your charitie(s).</strong><br>Change anytime.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-intro" style="height: 70vh">
  <div class="container">
    <p class="title-steps title-two">Impactful</p>
  </div>
</div>
<div class="wrapper-intro" style="background-color: #F9F9F9; height: 70vh">
  <div class="container">
    <p class="title-steps title-three">Transparent</p>
  </div>
</div>
<!-- <div class="wrapper", style="background-image: url(<%= asset_path 'wraper1-home.png' %>); height: 115vh;">
</div>
<div class="wrapper", style="background-image: url(<%= asset_path 'wraper2-home.png' %>); height: 115vh; ">
</div>
<div class="wrapper", style="background-image: url(<%= asset_path 'wraper3-home.png' %>); height: 115vh; ">
</div>
<div class="wrapper", style="background-image: url(<%= asset_path 'wraper4-home.png' %>); height: 109vh;">
</div> -->

