<div class="wrapper wrapper-home content", style="background-image: url(<%= asset_path 'home-wrapper.png' %>); background: linear-gradient(90deg, #efbe90, #ea9999)";>
  <div class="home-content-1">
      <p>Simple</p>
      <p>Impactful</p>
      <p>Transparent</p>
      <p><strong>Donations as it should be</strong></p>
      <% unless user_signed_in? %>
        <%= link_to "Be Awesome", new_user_registration_path, class: "btn-home btn-ghost" %>
      <% end %>
  </div>
</div>
<!-- <div class="wrapper", style="background-image: url(<%= asset_path 'wraper1-home.png' %>); height: 115vh;">
</div>
<div class="wrapper", style="background-image: url(<%= asset_path 'wraper2-home.png' %>); height: 115vh; ">
</div>
<div class="wrapper", style="background-image: url(<%= asset_path 'wraper3-home.png' %>); height: 115vh; ">
</div>
<div class="wrapper", style="background-image: url(<%= asset_path 'wraper4-home.png' %>); height: 109vh;"> -->
</div>
