<div class="container" style="min-height: calc(100vh - 170px);">
  <div class="search_icon">
    <div class="searchbar">
      <div class="bar">
          <%= form_tag charities_path, method: :get do %>
          <%= text_field_tag :query, params[:query], class: "form-control research", placeholder: "Search" %>
          <% end %>
      </div>
      <div class="all">
          <% if params[:query].present? %>
            <%= link_to "X", charities_path, class: "btn-ghost-2-all"%>
          <% end %>
      </div>
    </div>
    <!-- <div class="row charities_link"> -->
      <div class="col-sm-10 col-md-4 col-lg-2 charities_link charities_link_education">
        <% if params[:category] == "Education" %>
          <%= link_to charities_path do %>
            <div class="card card_filter education active">
              <div class="card-description">
                <h2>Education</h2>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to charities_path(category: "Education") do %>
            <div class="card card_filter education">
              <div class="card-description">
                <h2>Education</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-10 col-md-4 col-lg-2 charities_link">
      <% if params[:category] == "Environment" %>
          <%= link_to charities_path do %>
            <div class="card card_filter environment active">
              <div class="card-description">
                <h2>Environment</h2>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to charities_path(category: "Environment") do %>
            <div class="card card_filter environment">
              <div class="card-description">
                <h2>Environment</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-10 col-md-4 col-lg-2 charities_link">
        <% if params[:category] == "Insertion" %>
          <%= link_to charities_path do %>
            <div class="card card_filter insertion active">
              <div class="card-description">
                <h2>Insertion</h2>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to charities_path(category: "Insertion") do %>
            <div class="card card_filter insertion">
              <div class="card-description">
                <h2>Insertion</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-10 col-md-4 col-lg-2 charities_link">
        <% if params[:category] == "Health" %>
          <%= link_to charities_path do %>
            <div class="card card_filter health active">
              <div class="card-description">
                <h2>Health</h2>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to charities_path(category: "Health") do %>
            <div class="card card_filter health">
              <div class="card-description">
                <h2>Health</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <!-- </div> -->


      <div class="cards">
        <div class="row" style='margin-top: 30px;'>
        <% category = ["Environment", "Education", "Health", "Insertion" ]%>
        <% color = ["#FFD581", "#8ed6ff", "#72e0c0", "#bf9fee" ]%>
        <% @charities.each_with_index do |charity, index| %>
        <div class="col-sm-12 col-md-6">
          <%= link_to charity_path(charity) do %>
            <div class="card-charity">
              <%= cl_image_tag charity.photo[1], class: 'charity-img' %>
              <div class="card-charity-infos">
                <div>
                  <h2><%= charity.name %></h2>
                  <p><%= charity.description.split(".")[0] + "." %></p>
                </div>
                <span class="badge badge-pill", style="background-color: <%= color[category.index(charity.category)] %>"><%= charity.category %> </span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

