<div class="wrapper", style="background-color: white">
  <div class="container">
    <div class="searchbar">
      <%= form_tag charities_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Look for a charity" %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'education.jpg' %>);">
          <div class="card-description">
            <h2>Education</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'environment.jpg' %>);">
          <div class="card-description">
            <h2>Environment</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'insertion.jpg' %>);">
          <div class="card-description">
            <h2>Insertion</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path 'health.jpg' %>);">
          <div class="card-description">
            <h2>Health</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
