<div class="photos">
  <%= cl_image_tag(@charity.photo[1], crop: :fill, class: "picture-show") %>
  <%= cl_image_tag(@charity.photo[2], crop: :fill, class: "picture-show") %>
  <%= cl_image_tag(@charity.photo[3], crop: :fill, class: "picture-show") %>
</div>
<div class="container">
  <div class="header-show">
    <div class="charity-name">
      <p><%= @charity.name %></p>
    </div>
    <span class="badge badge-pill badge-suivre"><%= @charity.category %> </span>

    <!-- Création d'une donation quand le user appuie sur Suivre -->
    <%= simple_form_for ([@charity, @donation]) do |f| %>
      <%= f.submit "Suivre", class: "btn-ghost-2" %>
    <% end %>

  </div>

  <div class="caracteristics">
    <p><%= @charity.description %></p>
  </div>
  <%= cl_video_tag(@charity.photo[4], :controls => true, :poster => false, class: "video") %>
  <div class="footer-show">
    <%= link_to 'Présentation complète', "https://res.cloudinary.com/dbr1bhlka/image/upload/v1552491903/Presentation-Art-of-Change-21-compressed.pdf", target: :_blank, class: "btn-ghost-2" %>
  </div>
</div>
